#head{
    padding: 15px 0;
}

.success-message{
    margin-top: 30px;
}

#confirm{
    position: fixed;
    width:300px;
    height: 120px;
    margin-top:-60px;
    margin-left: -150px; 
    left:50%;
    top:50%;
    background: #fff;
}